/*css for homepage; filters, svg map, 'apply filter' button, etc*/

body{
    padding: 1.5vh;
    cursor: auto;
    
}

::-webkit-scrollbar {
    display: none;
}

.title{
    font-family: "darkmode-mono-off", sans-serif;
    font-weight: 1000;
    font-style: normal;
    position: fixed;
    display: grid;
    z-index: 999;
    font-size: 6rem;
    line-height: 6rem;
    top: 2rem;
    left: 2rem;
    padding-bottom: 1rem;
    z-index: -1;
    text-align: center;
}

.japanese{
    display: inline;
}

.navigation{
    width: 22.4vw;
    position: absolute;
    right: 8rem;
    top: 2rem;
    z-index: 999;
    display: flex;
    padding-bottom: 3.4rem;
    flex-direction: column;
}

#openbtn {
  display: none;
}

.banner{
    position: fixed;
    bottom: 0;
    width: 22.4vw;
    height: 3.4rem;
    right: 8rem;
    z-index: 999999;
    background: rgb(255, 255, 255);
}

.infopage{
    font-family: "darkmode-mono-off", sans-serif;
    font-weight: 800;
    z-index: 999;
    font-size: 0.6rem;
    color: black;
    width: 2rem;
    text-decoration: none;
    position: fixed;
    bottom: 1.2rem;
}

.infopage:hover{
    color: #808080;
    cursor: pointer;
}

#filterbutton{
    font-family: "darkmode-mono-off", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 0.6rem;
    position: fixed;
    bottom: 1.2rem;
    right: 2vw;
    color:#000000;
    text-decoration: none;
}

#filterbutton:hover{
    color: #808080;
    cursor: pointer;
}

.filter-title{
    font-family: "darkmode-mono-off", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 0.6rem;
    margin-bottom: 0.5rem;
}

.filter-title:hover{
    color: #808080;
    cursor: pointer;
}

.filter-controls {
    margin-bottom: 1rem;
    column-count: 2;
    display: none;
}

.filter-controls label {
    display: block;
    font-family: "darkmode-mono-off", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.6rem;
    max-height: none;
    overflow: visible;
    transition: 0.2s ease-out;
    margin-left: 1.5rem;
    text-indent: -1.30rem;
}

.filter-controls label.hover{
    cursor: pointer;
    color: grey;
}

input{
    width: 0.5rem;
    height: 0.5rem;
    position: relative;
    top: 0.2rem;
    border-radius: 0.5rem;
    transition: box-shadow .3s;
    background: lightgrey;
    border: 0;
    appearance: none; -webkit-appearance: none; 
}

input:checked{
    box-shadow: inset 0 0 0 20px black;
}

.filter-controls-year {
    margin-bottom: 1rem;
    display: none;
}

.filter-controls-year label {
    display: block;
    font-family: "darkmode-mono-off", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.6rem;
    max-height: none;
    overflow: visible;
    transition: 0.2s ease-out;
    margin-left: 1.5rem;
    text-indent: -1.30rem;
}

.filter-controls-year label.hover{
    cursor: pointer;
    color: blue;
}

.yearrange {
    display: flex;
    position: absolute;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    top: 1.8rem;
}

#UnknownYear {
    margin-top: 1.8rem;
}

#yearbtn{
    margin-top: 1.8rem
}

#minYearLabel,
#maxYearLabel {
    min-width: 3rem;
    width: 3rem;
    text-align: center;
    font-family: "darkmode-mono-off", sans-serif;
    font-size: 0.6rem;
    line-height: 1;
}

.yearslider {
    position: relative;
    width: 150%;
    height: 0.3rem;
    top: 0.2rem;
    background: #d3d3d3;
    border-radius: 0.5rem;
    transform: translateY(-50%);
    z-index: 1;
}

.yearslider input[type="range"] {
    position: absolute;
    width: 100%;
    pointer-events: none;
    --webkit-appearance: none;
    background: none;
    margin: 0;
    top: 0.3rem;
    height: 0.5rem;
}

.yearslider input[type="range"]::-webkit-slider-runnable-track,
.yearslider input[type="range"]::-moz-range-track {
    height: 0.6rem;
}

.yearslider input[type="range"]::-webkit-slider-thumb {
    pointer-events: auto;
    -webkit-appearance: none;
    height: 0.6rem;
    width: 0.6rem;
    top: -0.15rem;
    background: black;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    z-index: 3;
}

.svg{
    position: fixed;
    top: 1vh;
    width: 100vw;
    left: -6rem;
    fill: #ffffff;
    stroke: black;
    z-index: 1;
}

svg path.hover,
svg circle.hover {
    fill:  rgb(255, 200, 200);
    cursor: pointer;
}

svg path.on,
svg circle.on {
    fill:  red;
    cursor: pointer;
}

.popup {
    display: none;
    position: fixed;
    z-index: 99999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    align-items: center;
    justify-content: center;
}

.popup-content {
    position: relative;
    background-color: white;
    border-radius: 0.5rem;
    border: 0.1rem solid;
}

.close {
    position: absolute;
    right: 0.5rem;
    top: 0.15rem;
    font-size: 1.4rem;
    line-height: 1;
    cursor: pointer;
}

.iframe{
    width: 70vw;
    height: 41.5vw;
    border: none;
}

/* Responsive SVG design for laptop/desktop with lower resolution */
@media only screen and (max-width: 1200px) and (min-width: 851px) {
    .svg {
        width: 75vw;
        top: -4rem;
        left: 2rem;
    }
}

/* Responsive design for tablets and phones */
@media only screen and (max-width: 850px) {
    html, body {
        max-width: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
        padding: 0;
        margin: 0;
    }


    .title{
        font-size: 0.6rem;
        line-height: 0rem;
        top: auto;
        bottom: 0.58rem;
        left: 42vw;
        display: inline;
        z-index: 9999999;
    }

    .infopage{
        right: 87vw;
    }

    .navigation{
      position: absolute;
      top: 0;
      left: 0;
      width: 80vw;
      max-width: 320px;
      height: 100%;
      max-height: 100vh;;

      transform: translateX(-100%);
      transition: transform 0.35s ease;

      overflow-y: auto;
      z-index: 3;
      padding: 1rem;
      padding-top: 4rem;

    }

    .navigation.open{
        transform: translateX(0);
    }

    .extraSpace{
        height: 10rem;
        flex-shrink: 0;
    }

    #sidepanelBackground{
        position: fixed;
        inset: 0;
        background-color: rgba(255,255,255,0.7);

        opacity: 0;
        pointer-events: none;
        transition: opacity 0.35s ease;

        z-index: 2;
    }

    #sidepanelBackground.open{
        opacity: 1;
        pointer-events: auto;
    }

    #openbtn {
        display: inline;
        align-items: center;
        justify-content: center;
        width: 2.6rem;
        height: 2.6rem;
        z-index: 9999;
        font-size: 1.5rem;
        color: #000000;
        border: none;
        position: fixed;
        left: 0.2rem;
        top: 0.76rem;
        transition: 0.5s;
        font-family: "darkmode-mono-off", sans-serif;
        font-weight: 400;
        font-style: normal;
        text-align: center;
    
        z-index: 100000;
        pointer-events: auto;
    }

    .filter-controls {
        column-count: 1;
    }

    .yearrange {
        width: 80%;
        top: 5.5rem;
    }

    .svg{
        position: fixed;
        width: 140vw;
        top: -10vh;
        left: -5vw;
        fill: #ffffff;
        stroke: #000000;
    }

    svg path.on,
    svg circle.on {
        fill: red;
    }

    svg path, svg circle {
        pointer-events: all;
    }

    .banner{
        width: 100vw;
        justify-content: space-between;
        z-index: 100;
    }

    .infopage{
        color: black;
        left: 4vw;
        width: 2rem;
    }

    #filterbutton{
        right: 3vw;
    }

    .iframe{
        width: 80vw;
        height: 81vh;
        border: none;
    }
}

/* Responsive SVG design for phones */
@media only screen and (max-width: 500px) {
    .svg{
        position: fixed;
        width: 130vw;
        top: -10vh;
        left: -1vw;
        fill: #ffffff;
        stroke: #000000;
    }

    .iframe{
        width: 95vw;
        height: 90vh;
        border: none;
    }
}