/*css for image gallery page; styling of layout, 'clear all' button, pop up, etc*/

body{
    padding-top: 1.5vh;
}

.title{
    font-family: "darkmode-mono-off", sans-serif;
    font-weight: 1000;
    font-style: normal;
    position: fixed;
    display: inline;
    z-index: 999;
    font-size: 0.6rem;
    bottom: 0rem;
    left: 2rem;
    padding-bottom: 1rem;
    z-index: 99999999;
    text-align: center;
}

.japanese{
    display: inline;
}

.navigation{
    width: 22.4vw;
    position: absolute;
    right: 8rem;
    top: 2rem;
    z-index: 999;
    display: flex;
    padding-bottom: 3.4rem;
    flex-direction: column;
}

#openbtn {
    display: none;
}

.banner{
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 3.4rem;
    padding-left: 68.4vw;
    text-align: right;
    z-index: 999999;
    background: rgb(255, 255, 255);
}

.infopage{
    font-family: "darkmode-mono-off", sans-serif;
    font-weight: 800;
    z-index: 999;
    font-size: 0.6rem;
    color: black;
    width: 2rem;
    text-decoration: none;
    position: fixed;
    bottom: 1.2rem;
}

.infopage:hover{
    color: #808080;
    cursor: pointer;
}

#clearallbutton{
    font-family: "darkmode-mono-off", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 0.6rem;
    position: fixed;
    bottom: 1.2rem;
    right: 2vw;
    color:#000000;
    text-decoration: none;
}

#clearallbutton:hover{
    color: #808080;
    cursor: pointer;
}

.imagegallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    box-sizing: border-box;
    padding-bottom: 3.5rem;
    justify-items: stretch;
}

.image {
    width: 100%;
    padding: 0.55vw;
    box-sizing: border-box;
}

.image img {
    width: 100%;
    height: auto;
    display: block;
}

.image img:hover{
    cursor: pointer;
}

.caption{
    font-family: "darkmode-mono-off", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.6rem;
    margin-top: 0.2rem;
    text-decoration: none;
}

.caption-title{
    font-weight: 800;
}

.popup {
    display: none;
    position: fixed;
    z-index: 99999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    align-items: center;
    justify-content: center;
}

.popup-content {
    position: relative;
    background-color: white;
    border-radius: 0.5rem;
    border: 0.1rem solid;
}

.close {
    position: absolute;
    right: 0.5rem;
    top: 0.15rem;
    font-size: 1.4rem;
    cursor: pointer;
    line-height: 1;
}

.iframe{
    width: 70vw;
    height: 41.5vw;
    border: none;
}


@media only screen and (max-width: 850px) {
    .imagegallery {
        grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    }

    .image {
        padding: 1vw;
    }

    .caption{
        font-size: 0.5rem;
    }

    .title{
        font-size: 0.6rem;
        line-height: 0rem;
        bottom: 0.57rem;
        left: 42vw;
        display: inline;
        z-index: 9999999;
    }

    .banner{
        width: 100vw;
        justify-content: space-between;
    }

    .infopage{
        color: black;
        left: 3.3vw;
        width: 2rem;
    }

    #clearallbutton{
        right: 3vw;
    }

    .popup {
        display: none;  /* Hide by default on mobile */
        align-items: stretch;
        justify-content: stretch;
    }

    .popup-content {
        width: 100vw;
        height: 100vh;
        max-width: 100vw;
        max-height: 100vh;

        border: none;
        border-radius: 0;
        padding: 0;
    }

    .iframe {
        width: 100vw;
        height: 100vh;
    }

    .close {
        position: fixed;
        top: 1rem;
        right: 1rem;
        z-index: 100000;
    }
}
