/*css for pop up; image layout, text styling, about page etc*/

body{
    padding: 0.8vw;
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.about{
    font-family: "darkmode-mono-off", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.6rem;
    display: flex;
    position: fixed; /*remove this if you want to enable scroll*/
}

.about a{
    color: black;
    font-weight: 800;
    text-decoration: none;
}

.about a:hover{
    font-style: italic;
}

.abouttitle{
    display: inline;
    font-weight: 800;
    font-family: "darkmode-mono-off", sans-serif;
    font-style: normal;
}

.column1{
    margin: 0.5rem;
    width: 42%;
}

.column1 img{
    width: 98%;
}

.caption{
    padding-top: 0.5rem;
    font-size: 0.6rem;
}

.column2{
    margin: 0.5rem;
    width: 25%;
}

.column3{
    margin: 0.5rem;
    width: 25%;
}

.information{
    bottom: 1rem;
    position: fixed;
}


.leftside{
    width: 60vw;
    top: 0;
}

.rightside{
    width: 12vw;
    padding-right: 1.5rem;
    padding-bottom: 0.5rem;
    bottom: 0;
    right: 0;
    position: absolute;
}

.title{
    display: block;
    font-family: "darkmode-mono-off", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 0.6rem;
    margin-bottom: 0.5rem;
}

.subtitle {
    font-family: "darkmode-mono-off", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.slider {
    width: 97%;
    float: right;
    position: relative;
}

.slider img {
    height: 56.5vw;
    padding-left: 0.5rem;
    position: absolute;
    opacity: 0;
    z-index: 0;
}

.slider img:first-child {
    opacity: 1;
    z-index: 1;
}

.navigation-button {
    float: left;
    position: relative;
}

.dot {
    cursor: pointer;
    color: #bbb;
    display: inline-block;
}

.active,
.dot:hover {
    color: #717171;
}

.volume1{
    font-family: "darkmode-mono-off", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 0.6rem;
    background: #44D62C;
    color: #000000;
    border-radius: 10rem;
    padding: 0.3rem;
    padding-left: 0.33rem;
    padding-right: 0.33rem;
    display: inline-block;
    margin-top: 0.3rem;
}

.volume2{
    font-family: "darkmode-mono-off", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 0.6rem;
    background: #FF6C2F;
    color: #000000;
    border-radius: 10rem;
    padding: 0.3rem;
    padding-left: 0.33rem;
    padding-right: 0.33rem;
    display: inline-block;
    margin-top: 0.3rem;
}

@media only screen and (max-width: 650px) {
    body {
        overflow-y: auto;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
    }

    body > .leftside,
    body > .rightside {
        display: block;
        width: 50%; /* AANGEPASTA */
    }

    .rightside { /* first */
        order: 0; 
        position: static;
        /*width: 50vw; */  /* AANGEPASTA */
        margin-top: 0.5rem;
    }

    .leftside { /* second */
        order: 1; 
        /* width: 50vw; */  /* AANGEPASTA */
        padding-bottom: 20%;
    }

    .slider {
        float: left;
        position: relative;
    }

    .slider img {
        width: 93vw;
        height: auto;
        padding-left: 0;
        padding-bottom: 0.3rem;
        position: static;
        opacity: 1;
        display: block;
        margin-bottom: 2vw;
    }

    .navigation-button {
        display: none;
    }

    .about{
        display: contents;
    }

    .column1{
        width: 94vw;
        margin: 0;
        margin-bottom: 1rem;
    }

    .column1 img{
        width: 100%;
    }

    .caption{
        margin-left: 0.2rem;
    }

    .column2{
        width: 93%;
        margin-left: 0.2rem;
    }

    .column3{
        width: 93%;
        margin-left: 0.2rem;
        padding-bottom: 10%;
    }

    .information{
        bottom: -1rem;
        position: relative;
        margin-bottom: 1rem;
    }

    .title {
        font-size: 0.6rem;
    }

}